<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/escuelas.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</head>
<%- include ('partials/head.ejs') %>
<body>
  <%- include ('partials/header.ejs') %>
  <div class="contenedor-celeste">
    <h2 class="titulo">EDITA TU ESCUELA</h2>
    <form action="/escuelas/editarEscuela/<%= escuela.id %>?_method=PUT" method="POST" enctype="multipart/form-data" name="escuelaCreada" class="formulario-container">
      <!-- Rellena los campos del formulario con los datos de la escuela -->
      <div class="input-1">
        <div class="inputF">
          <br>
          <label for="nombre" class="nombre-input">Nombre de la Escuela</label>
          <input type="text" class="form-control"  name="nombre" value="<%= escuela ? escuela.nombre : '' %>">
          
          <label for="email" class="nombre-input">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="nombre@ejemplo.com" value="<%= escuela ? escuela.email : '' %>" required>
        </div>
        <div class="espaciador">

        </div>
        <div class="inputF">
          <label for="descripcion" class="nombre-input">Describí tu emprendimiento</label>
          <textarea class="form-control" name="descripcion" id="descripcion" rows="3" required><%= escuela ? escuela.descripcion : '' %></textarea>
        </div>
      </div>
      <div class="contenedor-archivos">
        <div class="mb-3">
          <label for="imagen" class="nombre-input">Carga hasta tres fotos</label>
          <input class="form-control" type="file" name="imagen" id="imagen" multiple accept="image/*" required>
        </div>
      </div>
      <div class="input-2">
        <label for="pais" class="nombre-input">País</label>
        <input class="form-control" list="datalistOptions" name="pais" id="pais" placeholder="" value="<%= escuela ? escuela.pais : '' %>" required>
        <datalist id="datalistOptions">
          <select name="surfingLocation">


            <option value="Argentina">Argentina</option>
            <option value="Brasil">Brasil</option>
            <option value="Colombia">Colombia</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Panamá">Panamá</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Australia">Australia</option>
            <option value="Irlanda">Irlanda</option>
            <option value="Chile">Chile</option>
            <option value="Indonesia">Indonesia</option>
            <option value="México">México</option>
            <option value="Estados Unidos">Estados Unidos</option>
            <option value="Francia">Francia</option>
            <option value="Portugal">Portugal</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Perú">Perú</option>
            <option value="Nueva Zelanda">Nueva Zelanda</option>
            <option value="Hawái">Hawái</option>
            <option value="Fiyi">Fiyi</option>
            <option value="Sudáfrica">Sudáfrica</option>
            <option value="Japón">Japón</option>
            <option value="Tahití">Tahití</option>
            <option value="España">España</option>

            
          </select>
          
        
        </datalist>
        <br>
        <button type="submit" class="boton-submit">Guardar Cambios</button>
      </div>
    </form>
  </div>
  <script src="ruta/a/jquery.js"></script>
  <script src="ruta/a/bootstrap.js"></script>
</body>
</html>
