<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Edicion de productos - Adm</title>
  <link rel="stylesheet" href="/css/formCrear.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</head>
<%- include ('partials/head.ejs') %>
<body>
  <%- include ('partials/header.ejs') %>

  <div class="contenedor-celeste">
    <h2 class="titulo">FORMULARIO DE EDICIÓN DE PRODUCTOS</h2>
    <form action="/productos/editarProducto/<%= producto.id %>?" method="POST" enctype="multipart/form-data" name="productoCreado" class="row g-3">
      
      <div class="col-md-6">
        <label for="nombre" class="nombre-input">Nombre del producto</label>
        <input type="text" class="form-control" name="nombre" id="nombre" value="<%= producto.nombre %>" required>
      </div>
      <div class="col-md-6">
        <label for="descripcion" class="nombre-input">Descripción del producto</label>
        <textarea class="form-control" name="descripcion" id="descripcion" required><%= producto.descripcion %></textarea>
      </div>
      <div class="col-md-6">
        <label for="precio" class="nombre-input">Precio</label>
        <input type="text" class="form-control" name="precio" id="precio" value="<%= producto.precio %>" required>
      </div>
      <div class="col-md-6">
        <label for="categoria" class="nombre-input">Categoría</label>
        <select id="categoria" class= "nombre-input" name="categoria" required>
          <option selected disabled>Seleccione una categoría...</option>
          <option value="Categoria1">Ropa</option>
          <option value="Categoria2">Accesorios</option>
          <option value="Categoria3">Recipientes</option>
          <option value="Categoria4">Cuidado personal</option>
        </select>
      </div>
      <div class="col-12">
        <label for="imagen" class="nombre-input">Imágenes</label>
        <input class="form-control" type="file" name="imagen" id="imagen" accept="image/*" >
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">GUARDAR CAMBIOS</button>
      </div>
    </form>
    <script src="ruta/a/jquery.js"></script>
    <script src="ruta/a/bootstrap.js"></script>
</div>
</body>
</html>