<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>

<link rel="stylesheet" href="/css/escuelaDetalle.css">

       <body>
        <%- include ('partials/header.ejs') %>
        
            <main>
                <div class="containerName">
                    <h1 class="nombreProd"> <%= escuela.nombre %></h1>                  
                </div>
          
            <div class="leftColumn">
                <div class="container">
                  <h2> ¿QUIÉNES SOMOS?</h2>
                  <p class="nombreProd"> <%= escuela.descripcion %></p>                 
                </div>
              
                <div class="container">
                  <h2>  NUESTRO EMAIL </h2>        
                  <p><%= escuela.email %> </p>       
                </div>
              
                <div class="container">
                  <h2> ¿DÓNDE NOS PODES ENCONTRAR?</h2>
                  <p> <%= escuela.pais %></p>            
                </div>
              </div>
              
              <div class="rightColumn">
                <div class="containerImagen">
                  <img src="\img\escuelas\bordePolaroid.png" alt="Imagen polaroid">
                  <img class= "imagenjson" src="/img/escuelas/<%= escuela.imagen %>" alt="Imagen de la escuela">
                </div>
              </div>    
              
       </main>
       <div class="contenedor_boton">
        <a href="/escuelas/editarEscuela/<%= escuela.id %>" class="Boton_editar">EDITAR ESCUELA</a>
      </div>
    </body>
</html>