<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>

<link rel="stylesheet" href="/css/escuelaDetalle.css">

       <body>
        <%- include ('partials/header.ejs') %>
        
            <main>
                <div class="containerName">
                    <h1 class="nombreProd"> <%= escuela.nombre %></h1>                  
                </div>
          
            <div class="leftColumn">
                <div class="container">
                  <h2> ¿QUIÉNES SOMOS?</h2>
                  <p class="nombreProd"> <%= escuela.descripcion %></p>                 
                </div>
              
                <div class="container">
                  <h2>  NUESTRO EMAIL </h2>        
                  <p><%= escuela.email %> </p>       
                </div>
                <div class="container">
                  <h2>UBICACIÓN</h2>
                  <p><%= escuela.ubicacion %></p>
                </div>
                
              </div>


              <div class="rightColumn">
                <div class="containerImagen">
                  <img src="\img\escuelas\bordePolaroid.png" alt="Imagen polaroid">
                  <!-- este if se supone conecta con la url de la foto de cloudinary-->
                  <% if (escuela.imagenUrl) { %>
                    <img class="imagenjson" src="<%= escuela.imagenUrl %>" alt="Imagen de la escuela">
                  <% } %>
                  
                </div>
              </div>    
              
       </main>
       
    </body>
</html>