<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/productos.css">
<%- include ('partials/head.ejs') %>
<body>

  <%- include ('partials/header.ejs') %>
  <main>
    <div class="buscador mt-5 mx-auto text-center">
        <h1 class="titulo">NUESTROS PRODUCTOS</h1>
        <div class="search container-sm">
          <nav class="navbar navbar-#B0DEE4 bg-#B0DEE4">
            <form class="form-inlin w-100">
              <input class="form-control mx-auto" type="search" placeholder= "¿Qué producto estás buscando?" aria-label="Search">
      </div>
      </div>
   
    <div class="contenedor">
       <form action="/productos/productos" method="GET">   
          
          <% for (let i = 0; i < listadoProductos.length; i++) { %>
            <article class="producto">
              <div class="imagen">
                
                <a href="/productos/idProducto/<%= listadoProductos[i].id %>">
                  <img src="<%= listadoProductos[i].imagen %>" class="product1">
                </a>
                <div class="linea"></div>
                <div class="detalle">
                  <p class="nombre"><%= listadoProductos[i].nombre %></p>
                  <p class="precio">ARS $ <%= listadoProductos[i].precio %></p>
                </div>
              </div>
            </article>
          <% } %>

</div>


  <%- include ('partials/footer.ejs') %>
  </main>
</body>
</html>


